- name: Install PostgreSQL
  apt:
    name:
      - postgresql
      - postgresql-contrib
    state: present
    update_cache: yes

- name: Allow remote connections
  lineinfile:
    path: "/etc/postgresql/16/main/postgresql.conf"
    regexp: "^#?listen_addresses"
    line: "listen_addresses = '*'"

- name: Allow app subnet access
  lineinfile:
    path: "/etc/postgresql/16/main/pg_hba.conf"
    line: "host all all 10.0.2.0/24 md5"

- name: Restart PostgreSQL
  service:
    name: postgresql
    state: restarted

- name: Create Medusa DB
  become_user: postgres
  postgresql_db:
    name: medusa

- name: Create DB user
  become_user: postgres
  postgresql_user:
    name: medusauser
    password: "StrongPassword123"
    priv: "medusa:ALL"
